## Using Python to build a Multi-Source ETL Pipeline for Sales Data Analysis
This project demonstrates the implementation of a comprehensive ETL (Extract, Transform, Load) pipeline integrating multiple data sources into a dimensional data warehouse.
In this project, I build a data warehouse that combines sales data from MongoDB, product information from FakeStore API, and stores the transformed data in a MySQL database. The integration provides a unified view of sales transactions, product inventory, and customer information for comprehensive business analysis.

### Prerequisites:
This notebook uses the PyMongo database connectivity library to connect to MySQL databases; therefore, you must have first installed that libary into your python environment by executing the following command in a Terminal window.

- `python -m pip install pymongo[srv]`

#### Import the Necessary Libraries

In [3]:
import os
import logging
from typing import Dict
import pandas as pd
import numpy as np
import pymysql
import requests
from typing import Dict, List, Optional
import time

import pymongo
import sqlalchemy
from sqlalchemy import create_engine, text

In [2]:
print(f"Running SQL Alchemy Version: {sqlalchemy.__version__}")
print(f"Running PyMongo Version: {pymongo.__version__}")

Running SQL Alchemy Version: 2.0.34
Running PyMongo Version: 4.8.0

### Extract Products Data from FakeStore API

In [7]:

def get_fakestore_products():
    """Extract products from FakeStore API"""
    try:
        response = requests.get('https://fakestoreapi.com/products')
        response.raise_for_status()
        return response.json()
    except Exception as e:
        logger.error(f"Error fetching FakeStore products: {e}")
        return []

#### Declare & Assign Connection Variables for the MongoDB Server, the MySQL Server & Databases with which You'll be Working

In [8]:
from pymongo import MongoClient
import json

# Example setup of logging for the notebook
logging.basicConfig(level=logging.INFO)
logger = logging.getLogger(__name__)

# Function to get MongoDB client
def get_mongo_client(host: str, port: int, username: str = None, password: str = None, db_name: str = None) -> MongoClient:
    """Initialize MongoDB client for a remote database."""
    connection_string = f"mongodb://{host}"
    if username and password:
        connection_string = f"mongodb://{username}:{password}@{host}"

    try:
        client = MongoClient(connection_string)
        if db_name:
            client = client[db_name]
        logger.info("MongoDB client initialized successfully.")
        return client
    except Exception as e:
        logger.error(f"Failed to initialize MongoDB client: {e}")
        raise e


# SQL connection
def get_sql_connection(host: str, user: str, password: str, db: str):
    """Initialize SQL connection."""
    conn = pymysql.connect(host=host, user=user, password=password, db=db)
    return conn

### Extract Data from all sources

In [12]:
# Set the path of the current working directory and append 'data' directory
data_dir = os.path.join(os.getcwd(), 'data')
logger.info(f"Data directory set to: {data_dir}")

INFO:__main__:Data directory set to: /Users/mac/Downloads/data-warehouse-project/data

In [13]:
# Define JSON files for MongoDB collections
json_files = {
    "sales_orders": 'StoreSales.json',
}

In [14]:
def set_mongo_collections(client: MongoClient, db_name: str, data_dir: str, json_files: dict):
    """Load JSON data into MongoDB collections."""
    db = client[db_name]
    for collection_name, file_name in json_files.items():
        file_path = os.path.abspath(os.path.join(data_dir, file_name))
        
        # Load JSON data and insert into MongoDB
        try:
            with open(file_path, 'r') as f:
                data = json.load(f)
                if isinstance(data, list): 
                    db[collection_name].insert_many(data)
                    logger.info(f"Inserted {len(data)} documents into '{collection_name}' collection.")
                else:
                    db[collection_name].insert_one(data)
                    logger.info(f"Inserted a single document into '{collection_name}' collection.")
        except Exception as e:
            logger.error(f"Error loading data for collection '{collection_name}': {str(e)}")

In [18]:
# MongoDB connection arguments (example)
mongodb_args = {
    "host": "localhost",
    "port": 27017,
    "username": "mikelangelo1",
    "password": "password123",
    "db_name": "data_ware_house"
}

# Initialize the MongoDB client
client = get_mongo_client(
    host=mongodb_args["host"],
    port=mongodb_args["port"],
    username=mongodb_args.get("username"),
    password=mongodb_args.get("password")
)

INFO:__main__:MongoDB client initialized successfully.

#### Populate MongoDB with Source Data
You only need to run this cell once; however, the operation is *idempotent*.  In other words, it can be run multiple times without changing the end result.

In [19]:
# Load data into MongoDB collections
set_mongo_collections(client, mongodb_args["db_name"], data_dir, json_files)

INFO:__main__:Inserted 51291 documents into 'sales_orders' collection.

#### Data Extractor
This class provides mock methods to:

Extract data from a MongoDB collection.

In [ ]:

def extract_from_mongodb(collection: str, query: Dict = None) -> pd.DataFrame:
    """Extract data from MongoDB collection."""
    try:
        mongo_db = get_mongo_client(mongodb_args["host"], mongodb_args["port"], mongodb_args["username"], mongodb_args["password"], mongodb_args["db_name"])
        print("mongo_db", mongo_db)
        data = mongo_db[collection].find(query or {})  
        return pd.DataFrame(list(data))
    except Exception as e:
        logger.error(f"Error extracting from MongoDB collection '{collection}': {str(e)}")
        raise

INFO:__main__:MongoDB client initialized successfully.

mongo_db Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'data_ware_house')
MongoDB Data:
                             _id Row ID         Order ID  Order Date  \
0       673167cbbdc428b0f7839e83  32298   CA-2012-124891  31-07-2012
1       673167cbbdc428b0f7839e84  26341    IN-2013-77878  05-02-2013
2       673167cbbdc428b0f7839e85  25330    IN-2013-71249  17-10-2013
3       673167cbbdc428b0f7839e86  13524  ES-2013-1579342  28-01-2013
4       673167cbbdc428b0f7839e87  47221     SG-2013-4320  05-11-2013
...                          ...    ...              ...         ...
307741  6751df929f0da4b4773d748a  35398   US-2014-102288  20-06-2014
307742  6751df929f0da4b4773d748b  40470   US-2013-155768  02-12-2013
307743  6751df929f0da4b4773d748c   9596   MX-2012-140767  18-02-2012
307744  6751df929f0da4b4773d748d   6147   MX-2012-134460  22-05-2012
307745  6751df929f0da4b4773d748e                     NaN         NaN

         Ship Date       Ship Mode Customer ID     Customer Name      Segment  \
0       31-07-2012        Same Day    RH-19495       Rick Hansen     Consumer
1       07-02-2013    Second Class    JR-16210     Justin Ritter    Corporate
2       18-10-2013     First Class    CR-12730      Craig Reiter     Consumer
3       30-01-2013     First Class    KM-16375  Katherine Murray  Home Office
4       06-11-2013        Same Day     RH-9495       Rick Hansen     Consumer
...            ...             ...         ...               ...          ...
307741  24-06-2014  Standard Class    ZC-21910  Zuschuss Carroll     Consumer
307742  02-12-2013        Same Day    LB-16795    Laurel Beltran  Home Office
307743  22-02-2012  Standard Class    RB-19795        Ross Baird  Home Office
307744  26-05-2012    Second Class    MC-18100     Mick Crebagga     Consumer
307745         NaN             NaN         NaN               NaN          NaN

                 City  ...        Product ID         Category Sub-Category  \
0       New York City  ...   TEC-AC-10003033       Technology  Accessories
1          Wollongong  ...   FUR-CH-10003950        Furniture       Chairs
2            Brisbane  ...   TEC-PH-10004664       Technology       Phones
3              Berlin  ...   TEC-PH-10004583       Technology       Phones
4               Dakar  ...  TEC-SHA-10000501       Technology      Copiers
...               ...  ...               ...              ...          ...
307741        Houston  ...   OFF-AP-10002906  Office Supplies   Appliances
307742         Oxnard  ...   OFF-EN-10001219  Office Supplies    Envelopes
307743       Valinhos  ...   OFF-BI-10000806  Office Supplies      Binders
307744       Tipitapa  ...   OFF-PA-10004155  Office Supplies        Paper
307745            NaN  ...               NaN              NaN          NaN

                                             Product Name     Sales Quantity  \
0       Plantronics CS510 - Over-the-Head monaural Wir...   2309.65        7
1               Novimex Executive Leather Armchair, Black  3709.395        9
2                       Nokia Smart Phone, with Caller ID  5175.171        9
3                          Motorola Smart Phone, Cordless   2892.51        5
4                          Sharp Wireless Fax, High-Speed   2832.96        8
...                                                   ...       ...      ...
307741  Hoover Replacement Belt for Commercial Guardsm...     0.444        1
307742       #10- 4 1/8" x 9 1/2" Security-Tint Envelopes     22.92        3
307743                            Acco Index Tab, Economy     13.44        2
307744            Eaton Computer Printout Paper, 8.5 x 11     61.38        3
307745                                                NaN       NaN      NaN

       Discount    Profit Shipping Cost Order Priority
0             0  762.1845        933.57       Critical
1           0.1  -288.765        923.63       Critical
2           0.1   919.971        915.49         Medium
3           0.1    -96.54        910.16         Medium
4             0    311.52        903.04       Critical
...         ...       ...           ...            ...
307741      0.8     -1.11          0.01         Medium
307742        0   11.2308          0.01           High
307743        0       2.4             0         Medium
307744        0       1.8             0           High
307745      NaN       NaN           NaN            NaN

[307746 rows x 25 columns]

INFO:__main__:Extracted 20 products from FakeStore API

Api Data:     id                                              title   price  \
0    1  Fjallraven - Foldsack No. 1 Backpack, Fits 15 ...  109.95
1    2             Mens Casual Premium Slim Fit T-Shirts    22.30
2    3                                 Mens Cotton Jacket   55.99
3    4                               Mens Casual Slim Fit   15.99
4    5  John Hardy Women's Legends Naga Gold & Silver ...  695.00
5    6                       Solid Gold Petite Micropave   168.00
6    7                         White Gold Plated Princess    9.99
7    8  Pierced Owl Rose Gold Plated Stainless Steel D...   10.99
8    9  WD 2TB Elements Portable External Hard Drive -...   64.00
9   10  SanDisk SSD PLUS 1TB Internal SSD - SATA III 6...  109.00
10  11  Silicon Power 256GB SSD 3D NAND A55 SLC Cache ...  109.00
11  12  WD 4TB Gaming Drive Works with Playstation 4 P...  114.00
12  13  Acer SB220Q bi 21.5 inches Full HD (1920 x 108...  599.00
13  14  Samsung 49-Inch CHG90 144Hz Curved Gaming Moni...  999.99
14  15  BIYLACLESEN Women's 3-in-1 Snowboard Jacket Wi...   56.99
15  16  Lock and Love Women's Removable Hooded Faux Le...   29.95
16  17  Rain Jacket Women Windbreaker Striped Climbing...   39.99
17  18        MBJ Women's Solid Short Sleeve Boat Neck V     9.85
18  19                 Opna Women's Short Sleeve Moisture    7.95
19  20         DANVOUY Womens T Shirt Casual Cotton Short   12.99

                                          description          category  \
0   Your perfect pack for everyday use and walks i...    men's clothing
1   Slim-fitting style, contrast raglan long sleev...    men's clothing
2   great outerwear jackets for Spring/Autumn/Wint...    men's clothing
3   The color could be slightly different between ...    men's clothing
4   From our Legends Collection, the Naga was insp...          jewelery
5   Satisfaction Guaranteed. Return or exchange an...          jewelery
6   Classic Created Wedding Engagement Solitaire D...          jewelery
7   Rose Gold Plated Double Flared Tunnel Plug Ear...          jewelery
8   USB 3.0 and USB 2.0 Compatibility Fast data tr...       electronics
9   Easy upgrade for faster boot up, shutdown, app...       electronics
10  3D NAND flash are applied to deliver high tran...       electronics
11  Expand your PS4 gaming experience, Play anywhe...       electronics
12  21. 5 inches Full HD (1920 x 1080) widescreen ...       electronics
13  49 INCH SUPER ULTRAWIDE 32:9 CURVED GAMING MON...       electronics
14  Note:The Jackets is US standard size, Please c...  women's clothing
15  100% POLYURETHANE(shell) 100% POLYESTER(lining...  women's clothing
16  Lightweight perfet for trip or casual wear---L...  women's clothing
17  95% RAYON 5% SPANDEX, Made in USA or Imported,...  women's clothing
18  100% Polyester, Machine wash, 100% cationic po...  women's clothing
19  95%Cotton,5%Spandex, Features: Casual, Short S...  women's clothing

                                                image  \
0   https://fakestoreapi.com/img/81fPKd-2AYL._AC_S...
1   https://fakestoreapi.com/img/71-3HjGNDUL._AC_S...
2   https://fakestoreapi.com/img/71li-ujtlUL._AC_U...
3   https://fakestoreapi.com/img/71YXzeOuslL._AC_U...
4   https://fakestoreapi.com/img/71pWzhdJNwL._AC_U...
5   https://fakestoreapi.com/img/61sbMiUnoGL._AC_U...
6   https://fakestoreapi.com/img/71YAIFU48IL._AC_U...
7   https://fakestoreapi.com/img/51UDEzMJVpL._AC_U...
8   https://fakestoreapi.com/img/61IBBVJvSDL._AC_S...
9   https://fakestoreapi.com/img/61U7T1koQqL._AC_S...
10  https://fakestoreapi.com/img/71kWymZ+c+L._AC_S...
11  https://fakestoreapi.com/img/61mtL65D4cL._AC_S...
12  https://fakestoreapi.com/img/81QpkIctqPL._AC_S...
13  https://fakestoreapi.com/img/81Zt42ioCgL._AC_S...
14  https://fakestoreapi.com/img/51Y5NI-I5jL._AC_U...
15  https://fakestoreapi.com/img/81XH0e8fefL._AC_U...
16  https://fakestoreapi.com/img/71HblAHs5xL._AC_U...
17  https://fakestoreapi.com/img/71z3kpMAYsL._AC_U...
18  https://fakestoreapi.com/img/51eg55uWmdL._AC_U...
19  https://fakestoreapi.com/img/61pHAEJ4NML._AC_U...

                         rating
0   {'rate': 3.9, 'count': 120}
1   {'rate': 4.1, 'count': 259}
2   {'rate': 4.7, 'count': 500}
3   {'rate': 2.1, 'count': 430}
4   {'rate': 4.6, 'count': 400}
5    {'rate': 3.9, 'count': 70}
6     {'rate': 3, 'count': 400}
7   {'rate': 1.9, 'count': 100}
8   {'rate': 3.3, 'count': 203}
9   {'rate': 2.9, 'count': 470}
10  {'rate': 4.8, 'count': 319}
11  {'rate': 4.8, 'count': 400}
12  {'rate': 2.9, 'count': 250}
13  {'rate': 2.2, 'count': 140}
14  {'rate': 2.6, 'count': 235}
15  {'rate': 2.9, 'count': 340}
16  {'rate': 3.8, 'count': 679}
17  {'rate': 4.7, 'count': 130}
18  {'rate': 4.5, 'count': 146}
19  {'rate': 3.6, 'count': 145}
                             _id Row ID         Order ID  Order Date  \
0       673167cbbdc428b0f7839e83  32298   CA-2012-124891  31-07-2012
1       673167cbbdc428b0f7839e84  26341    IN-2013-77878  05-02-2013
2       673167cbbdc428b0f7839e85  25330    IN-2013-71249  17-10-2013
3       673167cbbdc428b0f7839e86  13524  ES-2013-1579342  28-01-2013
4       673167cbbdc428b0f7839e87  47221     SG-2013-4320  05-11-2013
...                          ...    ...              ...         ...
307741  6751df929f0da4b4773d748a  35398   US-2014-102288  20-06-2014
307742  6751df929f0da4b4773d748b  40470   US-2013-155768  02-12-2013
307743  6751df929f0da4b4773d748c   9596   MX-2012-140767  18-02-2012
307744  6751df929f0da4b4773d748d   6147   MX-2012-134460  22-05-2012
307745  6751df929f0da4b4773d748e                     NaN         NaN

         Ship Date       Ship Mode Customer ID     Customer Name      Segment  \
0       31-07-2012        Same Day    RH-19495       Rick Hansen     Consumer
1       07-02-2013    Second Class    JR-16210     Justin Ritter    Corporate
2       18-10-2013     First Class    CR-12730      Craig Reiter     Consumer
3       30-01-2013     First Class    KM-16375  Katherine Murray  Home Office
4       06-11-2013        Same Day     RH-9495       Rick Hansen     Consumer
...            ...             ...         ...               ...          ...
307741  24-06-2014  Standard Class    ZC-21910  Zuschuss Carroll     Consumer
307742  02-12-2013        Same Day    LB-16795    Laurel Beltran  Home Office
307743  22-02-2012  Standard Class    RB-19795        Ross Baird  Home Office
307744  26-05-2012    Second Class    MC-18100     Mick Crebagga     Consumer
307745         NaN             NaN         NaN               NaN          NaN

                 City  ...        Product ID         Category Sub-Category  \
0       New York City  ...   TEC-AC-10003033       Technology  Accessories
1          Wollongong  ...   FUR-CH-10003950        Furniture       Chairs
2            Brisbane  ...   TEC-PH-10004664       Technology       Phones
3              Berlin  ...   TEC-PH-10004583       Technology       Phones
4               Dakar  ...  TEC-SHA-10000501       Technology      Copiers
...               ...  ...               ...              ...          ...
307741        Houston  ...   OFF-AP-10002906  Office Supplies   Appliances
307742         Oxnard  ...   OFF-EN-10001219  Office Supplies    Envelopes
307743       Valinhos  ...   OFF-BI-10000806  Office Supplies      Binders
307744       Tipitapa  ...   OFF-PA-10004155  Office Supplies        Paper
307745            NaN  ...               NaN              NaN          NaN

                                             Product Name     Sales Quantity  \
0       Plantronics CS510 - Over-the-Head monaural Wir...   2309.65        7
1               Novimex Executive Leather Armchair, Black  3709.395        9
2                       Nokia Smart Phone, with Caller ID  5175.171        9
3                          Motorola Smart Phone, Cordless   2892.51        5
4                          Sharp Wireless Fax, High-Speed   2832.96        8
...                                                   ...       ...      ...
307741  Hoover Replacement Belt for Commercial Guardsm...     0.444        1
307742       #10- 4 1/8" x 9 1/2" Security-Tint Envelopes     22.92        3
307743                            Acco Index Tab, Economy     13.44        2
307744            Eaton Computer Printout Paper, 8.5 x 11     61.38        3
307745                                                NaN       NaN      NaN

       Discount    Profit Shipping Cost Order Priority
0             0  762.1845        933.57       Critical
1           0.1  -288.765        923.63       Critical
2           0.1   919.971        915.49         Medium
3           0.1    -96.54        910.16         Medium
4             0    311.52        903.04       Critical
...         ...       ...           ...            ...
307741      0.8     -1.11          0.01         Medium
307742        0   11.2308          0.01           High
307743        0       2.4             0         Medium
307744        0       1.8             0           High
307745      NaN       NaN           NaN            NaN

[307746 rows x 25 columns]

### Transform Data

In [37]:
def create_unified_product_dimension(sales_df: pd.DataFrame, api_df: pd.DataFrame) -> pd.DataFrame:
    """Create unified product dimension from both sources"""
    # Transform sales products
    sales_products = sales_df[[
        'Product ID', 'Product Name', 'Category', 'Sub-Category'
    ]].drop_duplicates()
    sales_products['source'] = 'sales'
    sales_products.columns = ['product_id', 'product_name', 'category', 'subcategory', 'source']

    # Transform API products
    api_products = pd.DataFrame({
        'product_id': 'API_' + api_df['id'].astype(str),
        'product_name': api_df['title'],
        'category': api_df['category'],
        'subcategory': 'N/A',  # FakeStore API doesn't have subcategories
        'source': 'api'
    })

    # Combine products from both sources
    unified_products = pd.concat([sales_products, api_products], ignore_index=True)
    unified_products['product_key'] = range(1, len(unified_products) + 1)
    
    return unified_products

def create_fact_product_inventory(api_df: pd.DataFrame, dim_product: pd.DataFrame) -> pd.DataFrame:
    """Create product inventory fact table from API data"""
    # Extract rating data into separate columns
    api_df['rating_rate'] = api_df['rating'].apply(lambda x: x['rate'])
    api_df['rating_count'] = api_df['rating'].apply(lambda x: x['count'])

    # Create inventory fact records
    inventory_facts = pd.DataFrame({
        'product_key': dim_product[dim_product['source'] == 'api']['product_key'],
        'price': api_df['price'],
        'rating': api_df['rating_rate'],
        'rating_count': api_df['rating_count'],
        'last_updated': pd.Timestamp.now()
    })

    return inventory_facts

def create_date_dimension( df: pd.DataFrame) -> pd.DataFrame:
    """Create date dimension with proper null handling"""
    # Convert dates to datetime, handling NaN values
    order_dates = pd.to_datetime(df['Order Date'], format='%d-%m-%Y', errors='coerce')
    ship_dates = pd.to_datetime(df['Ship Date'], format='%d-%m-%Y', errors='coerce')
    
    # Combine and get unique dates, dropping NaN
    all_dates = pd.concat([order_dates, ship_dates]).dropna().unique()
    
    if len(all_dates) == 0:
        # If no valid dates, create a default date
        all_dates = [pd.Timestamp('1900-01-01')]
        
    all_dates = pd.DatetimeIndex(sorted(all_dates))
    
    # Create date dimension
    dim_date = pd.DataFrame({
        'date_id': all_dates.strftime('%Y%m%d').astype(int),
        'date': all_dates,
        'year': all_dates.year,
        'quarter': all_dates.quarter,
        'month': all_dates.month,
        'month_name': all_dates.strftime('%B'),
        'week': all_dates.isocalendar().week,
        'day': all_dates.day,
        'weekday': all_dates.dayofweek,
        'weekday_name': all_dates.strftime('%A'),
        'is_weekend': all_dates.dayofweek.isin([5, 6]).astype(int)
    })
    
    return dim_date
    
def create_customer_dimension(df: pd.DataFrame) -> pd.DataFrame:
    """Create customer dimension with proper null handling"""
    customer_cols = [
        'Customer ID', 'Customer Name', 'Segment',
        'City', 'State', 'Country', 'Market', 'Region'
    ]
    
    dim_customer = df[customer_cols].drop_duplicates()
    dim_customer = dim_customer.fillna({
        'Customer ID': 'UNKNOWN',
        'Customer Name': 'Unknown',
        'Segment': 'Unknown',
        'City': 'Unknown',
        'State': 'Unknown',
        'Country': 'Unknown',
        'Market': 'Unknown',
        'Region': 'Unknown'
    })
    
    # Rename columns
    dim_customer.columns = [
        'customer_id', 'customer_name', 'segment',
        'city', 'state', 'country', 'market', 'region'
    ]
    
    # Add customer key
    dim_customer['customer_key'] = range(1, len(dim_customer) + 1)
    
    return dim_customer
    
def create_geography_dimension(df: pd.DataFrame) -> pd.DataFrame:
    """Create geography dimension with proper null handling"""
    geo_cols = ['City', 'State', 'Country', 'Market', 'Region', 'Postal Code']
    
    dim_geography = df[geo_cols].drop_duplicates()
    dim_geography = dim_geography.fillna({
        'City': 'Unknown',
        'State': 'Unknown',
        'Country': 'Unknown',
        'Market': 'Unknown',
        'Region': 'Unknown',
        'Postal Code': 'Unknown'
    })
    
    # Rename columns
    dim_geography.columns = [
        'city', 'state', 'country', 'market', 'region', 'postal_code'
    ]
    
    # Add geography key
    dim_geography['geo_key'] = range(1, len(dim_geography) + 1)
    
    return dim_geography
    
def create_fact_sales(df: pd.DataFrame) -> pd.DataFrame:
    """Create sales fact table from sales data using merge operations"""
    # Create a working copy
    working_df = df.copy()
    
    # Convert dates to date_id format
    working_df['order_date_id'] = pd.to_datetime(
        working_df['Order Date'], 
        format='%d-%m-%Y', 
        errors='coerce'
    ).fillna(pd.Timestamp('1900-01-01')).dt.strftime('%Y%m%d').astype(int)
    
    working_df['ship_date_id'] = pd.to_datetime(
        working_df['Ship Date'], 
        format='%d-%m-%Y', 
        errors='coerce'
    ).fillna(pd.Timestamp('1900-01-01')).dt.strftime('%Y%m%d').astype(int)
    
    # Get dimension keys through merges
    dim_customer = create_customer_dimension(working_df)
    working_df = working_df.merge(
        dim_customer[['customer_id', 'customer_key']],
        left_on='Customer ID',
        right_on='customer_id',
        how='left'
    )
    
    dim_geography = create_geography_dimension(working_df)
    working_df = working_df.merge(
        dim_geography[['city', 'state', 'country', 'geo_key']],
        left_on=['City', 'State', 'Country'],
        right_on=['city', 'state', 'country'],
        how='left'
    )
    
    # Create fact table
    fact_sales = pd.DataFrame({
        'order_id': working_df['Order ID'].fillna('UNKNOWN'),
        'order_date_id': working_df['order_date_id'],
        'ship_date_id': working_df['ship_date_id'],
        'customer_key': working_df['customer_key'].fillna(-1).astype(int),
        'product_id': working_df['Product ID'].fillna('UNKNOWN'),  # Changed from product_key to product_id
        'geo_key': working_df['geo_key'].fillna(-1).astype(int),
        'quantity': pd.to_numeric(working_df['Quantity'], errors='coerce').fillna(0),
        'sales_amount': pd.to_numeric(working_df['Sales'], errors='coerce').fillna(0),
        'discount': pd.to_numeric(working_df['Discount'], errors='coerce').fillna(0),
        'profit': pd.to_numeric(working_df['Profit'], errors='coerce').fillna(0),
        'shipping_cost': pd.to_numeric(working_df['Shipping Cost'], errors='coerce').fillna(0),
        'order_priority': working_df['Order Priority'].fillna('UNKNOWN'),
        'ship_mode': working_df['Ship Mode'].fillna('UNKNOWN')
    })
    
    # Calculate additional metrics
    fact_sales['total_amount'] = fact_sales['quantity'] * fact_sales['sales_amount']
    fact_sales['discount_amount'] = fact_sales['total_amount'] * fact_sales['discount']
    fact_sales['net_amount'] = fact_sales['total_amount'] - fact_sales['discount_amount']
    
    return fact_sales

def transform(data: Dict[str, pd.DataFrame]) -> Dict[str, pd.DataFrame]:
    """Transform data into dimensional model"""
    logger.info("Transforming data...")

    # Create unified product dimension combining both sources
    dim_product = create_unified_product_dimension(
        data['sales_data'], 
        data['api_products']
    )

    # Create other dimensions
    dim_date = create_date_dimension(data['sales_data'])
    dim_customer = create_customer_dimension(data['sales_data'])
    dim_geography = create_geography_dimension(data['sales_data'])

    # Create fact tables
    fact_sales = create_fact_sales(data['sales_data'])
    fact_product_inventory = create_fact_product_inventory(
        data['api_products'], 
        dim_product
    )

    return {
        'dim_date': dim_date,
        'dim_customer': dim_customer,
        'dim_product': dim_product,
        'dim_geography': dim_geography,
        'fact_sales': fact_sales,
        'fact_product_inventory': fact_product_inventory
    }
    
try:
    # 1. MongoDB extraction (sales data)
    df_mongo = extract_from_mongodb("sales_orders")
    print("MongoDB Data:")
    print(df_mongo)
    
    # 2. FakeStore API extraction
    api_products = get_fakestore_products()
    api_products_df = pd.DataFrame(api_products)
    print("Api Data:", api_products_df)
    print(df_mongo)
    logger.info(f"Extracted {len(api_products_df)} products from FakeStore API")
    
    # 3. Transform data into dimensional model
    raw_data = {
        'sales_data': df_mongo,
        'api_products': api_products_df
    }
    transformed_tables = transform(raw_data)  
    [print(table) for table in transformed_tables.values()]
    
    # # 4. Load transformed data into MySQL database
    # load_to_mysql(transformed_tables)
except Exception as e:
    logger.error(f"Error in MongoDB extraction test: {str(e)}")

INFO:__main__:MongoDB client initialized successfully.

mongo_db Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'data_ware_house')
MongoDB Data:
                             _id Row ID         Order ID  Order Date  \
0       673167cbbdc428b0f7839e83  32298   CA-2012-124891  31-07-2012
1       673167cbbdc428b0f7839e84  26341    IN-2013-77878  05-02-2013
2       673167cbbdc428b0f7839e85  25330    IN-2013-71249  17-10-2013
3       673167cbbdc428b0f7839e86  13524  ES-2013-1579342  28-01-2013
4       673167cbbdc428b0f7839e87  47221     SG-2013-4320  05-11-2013
...                          ...    ...              ...         ...
307741  6751df929f0da4b4773d748a  35398   US-2014-102288  20-06-2014
307742  6751df929f0da4b4773d748b  40470   US-2013-155768  02-12-2013
307743  6751df929f0da4b4773d748c   9596   MX-2012-140767  18-02-2012
307744  6751df929f0da4b4773d748d   6147   MX-2012-134460  22-05-2012
307745  6751df929f0da4b4773d748e                     NaN         NaN

         Ship Date       Ship Mode Customer ID     Customer Name      Segment  \
0       31-07-2012        Same Day    RH-19495       Rick Hansen     Consumer
1       07-02-2013    Second Class    JR-16210     Justin Ritter    Corporate
2       18-10-2013     First Class    CR-12730      Craig Reiter     Consumer
3       30-01-2013     First Class    KM-16375  Katherine Murray  Home Office
4       06-11-2013        Same Day     RH-9495       Rick Hansen     Consumer
...            ...             ...         ...               ...          ...
307741  24-06-2014  Standard Class    ZC-21910  Zuschuss Carroll     Consumer
307742  02-12-2013        Same Day    LB-16795    Laurel Beltran  Home Office
307743  22-02-2012  Standard Class    RB-19795        Ross Baird  Home Office
307744  26-05-2012    Second Class    MC-18100     Mick Crebagga     Consumer
307745         NaN             NaN         NaN               NaN          NaN

                 City  ...        Product ID         Category Sub-Category  \
0       New York City  ...   TEC-AC-10003033       Technology  Accessories
1          Wollongong  ...   FUR-CH-10003950        Furniture       Chairs
2            Brisbane  ...   TEC-PH-10004664       Technology       Phones
3              Berlin  ...   TEC-PH-10004583       Technology       Phones
4               Dakar  ...  TEC-SHA-10000501       Technology      Copiers
...               ...  ...               ...              ...          ...
307741        Houston  ...   OFF-AP-10002906  Office Supplies   Appliances
307742         Oxnard  ...   OFF-EN-10001219  Office Supplies    Envelopes
307743       Valinhos  ...   OFF-BI-10000806  Office Supplies      Binders
307744       Tipitapa  ...   OFF-PA-10004155  Office Supplies        Paper
307745            NaN  ...               NaN              NaN          NaN

                                             Product Name     Sales Quantity  \
0       Plantronics CS510 - Over-the-Head monaural Wir...   2309.65        7
1               Novimex Executive Leather Armchair, Black  3709.395        9
2                       Nokia Smart Phone, with Caller ID  5175.171        9
3                          Motorola Smart Phone, Cordless   2892.51        5
4                          Sharp Wireless Fax, High-Speed   2832.96        8
...                                                   ...       ...      ...
307741  Hoover Replacement Belt for Commercial Guardsm...     0.444        1
307742       #10- 4 1/8" x 9 1/2" Security-Tint Envelopes     22.92        3
307743                            Acco Index Tab, Economy     13.44        2
307744            Eaton Computer Printout Paper, 8.5 x 11     61.38        3
307745                                                NaN       NaN      NaN

       Discount    Profit Shipping Cost Order Priority
0             0  762.1845        933.57       Critical
1           0.1  -288.765        923.63       Critical
2           0.1   919.971        915.49         Medium
3           0.1    -96.54        910.16         Medium
4             0    311.52        903.04       Critical
...         ...       ...           ...            ...
307741      0.8     -1.11          0.01         Medium
307742        0   11.2308          0.01           High
307743        0       2.4             0         Medium
307744        0       1.8             0           High
307745      NaN       NaN           NaN            NaN

[307746 rows x 25 columns]

INFO:__main__:Extracted 20 products from FakeStore API

Api Data:     id                                              title   price  \
0    1  Fjallraven - Foldsack No. 1 Backpack, Fits 15 ...  109.95
1    2             Mens Casual Premium Slim Fit T-Shirts    22.30
2    3                                 Mens Cotton Jacket   55.99
3    4                               Mens Casual Slim Fit   15.99
4    5  John Hardy Women's Legends Naga Gold & Silver ...  695.00
5    6                       Solid Gold Petite Micropave   168.00
6    7                         White Gold Plated Princess    9.99
7    8  Pierced Owl Rose Gold Plated Stainless Steel D...   10.99
8    9  WD 2TB Elements Portable External Hard Drive -...   64.00
9   10  SanDisk SSD PLUS 1TB Internal SSD - SATA III 6...  109.00
10  11  Silicon Power 256GB SSD 3D NAND A55 SLC Cache ...  109.00
11  12  WD 4TB Gaming Drive Works with Playstation 4 P...  114.00
12  13  Acer SB220Q bi 21.5 inches Full HD (1920 x 108...  599.00
13  14  Samsung 49-Inch CHG90 144Hz Curved Gaming Moni...  999.99
14  15  BIYLACLESEN Women's 3-in-1 Snowboard Jacket Wi...   56.99
15  16  Lock and Love Women's Removable Hooded Faux Le...   29.95
16  17  Rain Jacket Women Windbreaker Striped Climbing...   39.99
17  18        MBJ Women's Solid Short Sleeve Boat Neck V     9.85
18  19                 Opna Women's Short Sleeve Moisture    7.95
19  20         DANVOUY Womens T Shirt Casual Cotton Short   12.99

                                          description          category  \
0   Your perfect pack for everyday use and walks i...    men's clothing
1   Slim-fitting style, contrast raglan long sleev...    men's clothing
2   great outerwear jackets for Spring/Autumn/Wint...    men's clothing
3   The color could be slightly different between ...    men's clothing
4   From our Legends Collection, the Naga was insp...          jewelery
5   Satisfaction Guaranteed. Return or exchange an...          jewelery
6   Classic Created Wedding Engagement Solitaire D...          jewelery
7   Rose Gold Plated Double Flared Tunnel Plug Ear...          jewelery
8   USB 3.0 and USB 2.0 Compatibility Fast data tr...       electronics
9   Easy upgrade for faster boot up, shutdown, app...       electronics
10  3D NAND flash are applied to deliver high tran...       electronics
11  Expand your PS4 gaming experience, Play anywhe...       electronics
12  21. 5 inches Full HD (1920 x 1080) widescreen ...       electronics
13  49 INCH SUPER ULTRAWIDE 32:9 CURVED GAMING MON...       electronics
14  Note:The Jackets is US standard size, Please c...  women's clothing
15  100% POLYURETHANE(shell) 100% POLYESTER(lining...  women's clothing
16  Lightweight perfet for trip or casual wear---L...  women's clothing
17  95% RAYON 5% SPANDEX, Made in USA or Imported,...  women's clothing
18  100% Polyester, Machine wash, 100% cationic po...  women's clothing
19  95%Cotton,5%Spandex, Features: Casual, Short S...  women's clothing

                                                image  \
0   https://fakestoreapi.com/img/81fPKd-2AYL._AC_S...
1   https://fakestoreapi.com/img/71-3HjGNDUL._AC_S...
2   https://fakestoreapi.com/img/71li-ujtlUL._AC_U...
3   https://fakestoreapi.com/img/71YXzeOuslL._AC_U...
4   https://fakestoreapi.com/img/71pWzhdJNwL._AC_U...
5   https://fakestoreapi.com/img/61sbMiUnoGL._AC_U...
6   https://fakestoreapi.com/img/71YAIFU48IL._AC_U...
7   https://fakestoreapi.com/img/51UDEzMJVpL._AC_U...
8   https://fakestoreapi.com/img/61IBBVJvSDL._AC_S...
9   https://fakestoreapi.com/img/61U7T1koQqL._AC_S...
10  https://fakestoreapi.com/img/71kWymZ+c+L._AC_S...
11  https://fakestoreapi.com/img/61mtL65D4cL._AC_S...
12  https://fakestoreapi.com/img/81QpkIctqPL._AC_S...
13  https://fakestoreapi.com/img/81Zt42ioCgL._AC_S...
14  https://fakestoreapi.com/img/51Y5NI-I5jL._AC_U...
15  https://fakestoreapi.com/img/81XH0e8fefL._AC_U...
16  https://fakestoreapi.com/img/71HblAHs5xL._AC_U...
17  https://fakestoreapi.com/img/71z3kpMAYsL._AC_U...
18  https://fakestoreapi.com/img/51eg55uWmdL._AC_U...
19  https://fakestoreapi.com/img/61pHAEJ4NML._AC_U...

                         rating
0   {'rate': 3.9, 'count': 120}
1   {'rate': 4.1, 'count': 259}
2   {'rate': 4.7, 'count': 500}
3   {'rate': 2.1, 'count': 430}
4   {'rate': 4.6, 'count': 400}
5    {'rate': 3.9, 'count': 70}
6     {'rate': 3, 'count': 400}
7   {'rate': 1.9, 'count': 100}
8   {'rate': 3.3, 'count': 203}
9   {'rate': 2.9, 'count': 470}
10  {'rate': 4.8, 'count': 319}
11  {'rate': 4.8, 'count': 400}
12  {'rate': 2.9, 'count': 250}
13  {'rate': 2.2, 'count': 140}
14  {'rate': 2.6, 'count': 235}
15  {'rate': 2.9, 'count': 340}
16  {'rate': 3.8, 'count': 679}
17  {'rate': 4.7, 'count': 130}
18  {'rate': 4.5, 'count': 146}
19  {'rate': 3.6, 'count': 145}
                             _id Row ID         Order ID  Order Date  \
0       673167cbbdc428b0f7839e83  32298   CA-2012-124891  31-07-2012
1       673167cbbdc428b0f7839e84  26341    IN-2013-77878  05-02-2013
2       673167cbbdc428b0f7839e85  25330    IN-2013-71249  17-10-2013
3       673167cbbdc428b0f7839e86  13524  ES-2013-1579342  28-01-2013
4       673167cbbdc428b0f7839e87  47221     SG-2013-4320  05-11-2013
...                          ...    ...              ...         ...
307741  6751df929f0da4b4773d748a  35398   US-2014-102288  20-06-2014
307742  6751df929f0da4b4773d748b  40470   US-2013-155768  02-12-2013
307743  6751df929f0da4b4773d748c   9596   MX-2012-140767  18-02-2012
307744  6751df929f0da4b4773d748d   6147   MX-2012-134460  22-05-2012
307745  6751df929f0da4b4773d748e                     NaN         NaN

         Ship Date       Ship Mode Customer ID     Customer Name      Segment  \
0       31-07-2012        Same Day    RH-19495       Rick Hansen     Consumer
1       07-02-2013    Second Class    JR-16210     Justin Ritter    Corporate
2       18-10-2013     First Class    CR-12730      Craig Reiter     Consumer
3       30-01-2013     First Class    KM-16375  Katherine Murray  Home Office
4       06-11-2013        Same Day     RH-9495       Rick Hansen     Consumer
...            ...             ...         ...               ...          ...
307741  24-06-2014  Standard Class    ZC-21910  Zuschuss Carroll     Consumer
307742  02-12-2013        Same Day    LB-16795    Laurel Beltran  Home Office
307743  22-02-2012  Standard Class    RB-19795        Ross Baird  Home Office
307744  26-05-2012    Second Class    MC-18100     Mick Crebagga     Consumer
307745         NaN             NaN         NaN               NaN          NaN

                 City  ...        Product ID         Category Sub-Category  \
0       New York City  ...   TEC-AC-10003033       Technology  Accessories
1          Wollongong  ...   FUR-CH-10003950        Furniture       Chairs
2            Brisbane  ...   TEC-PH-10004664       Technology       Phones
3              Berlin  ...   TEC-PH-10004583       Technology       Phones
4               Dakar  ...  TEC-SHA-10000501       Technology      Copiers
...               ...  ...               ...              ...          ...
307741        Houston  ...   OFF-AP-10002906  Office Supplies   Appliances
307742         Oxnard  ...   OFF-EN-10001219  Office Supplies    Envelopes
307743       Valinhos  ...   OFF-BI-10000806  Office Supplies      Binders
307744       Tipitapa  ...   OFF-PA-10004155  Office Supplies        Paper
307745            NaN  ...               NaN              NaN          NaN

                                             Product Name     Sales Quantity  \
0       Plantronics CS510 - Over-the-Head monaural Wir...   2309.65        7
1               Novimex Executive Leather Armchair, Black  3709.395        9
2                       Nokia Smart Phone, with Caller ID  5175.171        9
3                          Motorola Smart Phone, Cordless   2892.51        5
4                          Sharp Wireless Fax, High-Speed   2832.96        8
...                                                   ...       ...      ...
307741  Hoover Replacement Belt for Commercial Guardsm...     0.444        1
307742       #10- 4 1/8" x 9 1/2" Security-Tint Envelopes     22.92        3
307743                            Acco Index Tab, Economy     13.44        2
307744            Eaton Computer Printout Paper, 8.5 x 11     61.38        3
307745                                                NaN       NaN      NaN

       Discount    Profit Shipping Cost Order Priority
0             0  762.1845        933.57       Critical
1           0.1  -288.765        923.63       Critical
2           0.1   919.971        915.49         Medium
3           0.1    -96.54        910.16         Medium
4             0    311.52        903.04       Critical
...         ...       ...           ...            ...
307741      0.8     -1.11          0.01         Medium
307742        0   11.2308          0.01           High
307743        0       2.4             0         Medium
307744        0       1.8             0           High
307745      NaN       NaN           NaN            NaN

[307746 rows x 25 columns]

INFO:__main__:Transforming data...

             date_id       date  year  quarter  month month_name  week  day  \
2011-01-01  20110101 2011-01-01  2011        1      1    January    52    1
2011-01-02  20110102 2011-01-02  2011        1      1    January    52    2
2011-01-03  20110103 2011-01-03  2011        1      1    January     1    3
2011-01-04  20110104 2011-01-04  2011        1      1    January     1    4
2011-01-05  20110105 2011-01-05  2011        1      1    January     1    5
...              ...        ...   ...      ...    ...        ...   ...  ...
2015-01-03  20150103 2015-01-03  2015        1      1    January     1    3
2015-01-04  20150104 2015-01-04  2015        1      1    January     1    4
2015-01-05  20150105 2015-01-05  2015        1      1    January     2    5
2015-01-06  20150106 2015-01-06  2015        1      1    January     2    6
2015-01-07  20150107 2015-01-07  2015        1      1    January     2    7

            weekday weekday_name  is_weekend
2011-01-01        5     Saturday           1
2011-01-02        6       Sunday           1
2011-01-03        0       Monday           0
2011-01-04        1      Tuesday           0
2011-01-05        2    Wednesday           0
...             ...          ...         ...
2015-01-03        5     Saturday           1
2015-01-04        6       Sunday           1
2015-01-05        0       Monday           0
2015-01-06        1      Tuesday           0
2015-01-07        2    Wednesday           0

[1468 rows x 11 columns]
      customer_id      customer_name      segment               city  \
0        RH-19495        Rick Hansen     Consumer      New York City
1        JR-16210      Justin Ritter    Corporate         Wollongong
2        CR-12730       Craig Reiter     Consumer           Brisbane
3        KM-16375   Katherine Murray  Home Office             Berlin
4         RH-9495        Rick Hansen     Consumer              Dakar
...           ...                ...          ...                ...
51281    HG-15025      Hunter Glantz     Consumer  Bragan�a Paulista
51283    KH-16330    Katharine Harms    Corporate            Lucknow
51284    DB-13270  Deborah Brumfield  Home Office         Townsville
51289    MC-18100      Mick Crebagga     Consumer           Tipitapa
51290     UNKNOWN            Unknown      Unknown            Unknown

                 state        country   market        region  customer_key
0             New York  United States       US          East             1
1      New South Wales      Australia     APAC       Oceania             2
2           Queensland      Australia     APAC       Oceania             3
3               Berlin        Germany       EU       Central             4
4                Dakar        Senegal   Africa        Africa             5
...                ...            ...      ...           ...           ...
51281        S�o Paulo         Brazil    LATAM         South         24956
51283    Uttar Pradesh          India     APAC  Central Asia         24957
51284       Queensland      Australia     APAC       Oceania         24958
51289          Managua      Nicaragua    LATAM       Central         24959
51290          Unknown        Unknown  Unknown       Unknown         24960

[24960 rows x 9 columns]
             product_id                                       product_name  \
0       TEC-AC-10003033  Plantronics CS510 - Over-the-Head monaural Wir...
1       FUR-CH-10003950          Novimex Executive Leather Armchair, Black
2       TEC-PH-10004664                  Nokia Smart Phone, with Caller ID
3       TEC-PH-10004583                     Motorola Smart Phone, Cordless
4      TEC-SHA-10000501                     Sharp Wireless Fax, High-Speed
...                 ...                                                ...
10784            API_16  Lock and Love Women's Removable Hooded Faux Le...
10785            API_17  Rain Jacket Women Windbreaker Striped Climbing...
10786            API_18        MBJ Women's Solid Short Sleeve Boat Neck V
10787            API_19                 Opna Women's Short Sleeve Moisture
10788            API_20         DANVOUY Womens T Shirt Casual Cotton Short

               category  subcategory source  product_key
0            Technology  Accessories  sales            1
1             Furniture       Chairs  sales            2
2            Technology       Phones  sales            3
3            Technology       Phones  sales            4
4            Technology      Copiers  sales            5
...                 ...          ...    ...          ...
10784  women's clothing          N/A    api        10785
10785  women's clothing          N/A    api        10786
10786  women's clothing          N/A    api        10787
10787  women's clothing          N/A    api        10788
10788  women's clothing          N/A    api        10789

[10789 rows x 6 columns]
                 city               state        country   market   region  \
0       New York City            New York  United States       US     East
1          Wollongong     New South Wales      Australia     APAC  Oceania
2            Brisbane          Queensland      Australia     APAC  Oceania
3              Berlin              Berlin        Germany       EU  Central
4               Dakar               Dakar        Senegal   Africa   Africa
...               ...                 ...            ...      ...      ...
51032         Abilene               Texas  United States       US  Central
51043        Felahiye             Kayseri         Turkey     EMEA     EMEA
51084        Lewiston               Idaho  United States       US     West
51176  Victoria Falls  Matabeleland North       Zimbabwe   Africa   Africa
51290         Unknown             Unknown        Unknown  Unknown  Unknown

      postal_code  geo_key
0           10024        1
1                        2
2                        3
3                        4
4                        5
...           ...      ...
51032       79605     3844
51043                 3845
51084       83501     3846
51176                 3847
51290     Unknown     3848

[3848 rows x 7 columns]
               order_id  order_date_id  ship_date_id  customer_key  \
0        CA-2012-124891       20120731      20120731             1
1        CA-2012-124891       20120731      20120731             1
2        CA-2012-124891       20120731      20120731             1
3        CA-2012-124891       20120731      20120731             1
4        CA-2012-124891       20120731      20120731          1925
...                 ...            ...           ...           ...
8896123  MX-2012-134460       20120522      20120526         19718
8896124  MX-2012-134460       20120522      20120526         22396
8896125  MX-2012-134460       20120522      20120526         24413
8896126  MX-2012-134460       20120522      20120526         24959
8896127         UNKNOWN       19000101      19000101            -1

              product_id  geo_key  quantity  sales_amount  discount    profit  \
0        TEC-AC-10003033        1       7.0       2309.65       0.0  762.1845
1        TEC-AC-10003033       37       7.0       2309.65       0.0  762.1845
2        TEC-AC-10003033      131       7.0       2309.65       0.0  762.1845
3        TEC-AC-10003033      407       7.0       2309.65       0.0  762.1845
4        TEC-AC-10003033        1       7.0       2309.65       0.0  762.1845
...                  ...      ...       ...           ...       ...       ...
8896123  OFF-PA-10004155     1421       3.0         61.38       0.0    1.8000
8896124  OFF-PA-10004155     1421       3.0         61.38       0.0    1.8000
8896125  OFF-PA-10004155     1421       3.0         61.38       0.0    1.8000
8896126  OFF-PA-10004155     1421       3.0         61.38       0.0    1.8000
8896127          UNKNOWN       -1       0.0          0.00       0.0    0.0000

         shipping_cost order_priority     ship_mode  total_amount  \
0               933.57       Critical      Same Day      16167.55
1               933.57       Critical      Same Day      16167.55
2               933.57       Critical      Same Day      16167.55
3               933.57       Critical      Same Day      16167.55
4               933.57       Critical      Same Day      16167.55
...                ...            ...           ...           ...
8896123           0.00           High  Second Class        184.14
8896124           0.00           High  Second Class        184.14
8896125           0.00           High  Second Class        184.14
8896126           0.00           High  Second Class        184.14
8896127           0.00        UNKNOWN       UNKNOWN          0.00

         discount_amount  net_amount
0                    0.0    16167.55
1                    0.0    16167.55
2                    0.0    16167.55
3                    0.0    16167.55
4                    0.0    16167.55
...                  ...         ...
8896123              0.0      184.14
8896124              0.0      184.14
8896125              0.0      184.14
8896126              0.0      184.14
8896127              0.0        0.00

[8896128 rows x 16 columns]
       product_key   price  rating  rating_count               last_updated
0              NaN  109.95     3.9         120.0 2024-12-06 02:48:17.266391
1              NaN   22.30     4.1         259.0 2024-12-06 02:48:17.266391
2              NaN   55.99     4.7         500.0 2024-12-06 02:48:17.266391
3              NaN   15.99     2.1         430.0 2024-12-06 02:48:17.266391
4              NaN  695.00     4.6         400.0 2024-12-06 02:48:17.266391
5              NaN  168.00     3.9          70.0 2024-12-06 02:48:17.266391
6              NaN    9.99     3.0         400.0 2024-12-06 02:48:17.266391
7              NaN   10.99     1.9         100.0 2024-12-06 02:48:17.266391
8              NaN   64.00     3.3         203.0 2024-12-06 02:48:17.266391
9              NaN  109.00     2.9         470.0 2024-12-06 02:48:17.266391
10             NaN  109.00     4.8         319.0 2024-12-06 02:48:17.266391
11             NaN  114.00     4.8         400.0 2024-12-06 02:48:17.266391
12             NaN  599.00     2.9         250.0 2024-12-06 02:48:17.266391
13             NaN  999.99     2.2         140.0 2024-12-06 02:48:17.266391
14             NaN   56.99     2.6         235.0 2024-12-06 02:48:17.266391
15             NaN   29.95     2.9         340.0 2024-12-06 02:48:17.266391
16             NaN   39.99     3.8         679.0 2024-12-06 02:48:17.266391
17             NaN    9.85     4.7         130.0 2024-12-06 02:48:17.266391
18             NaN    7.95     4.5         146.0 2024-12-06 02:48:17.266391
19             NaN   12.99     3.6         145.0 2024-12-06 02:48:17.266391
10769      10770.0     NaN     NaN           NaN 2024-12-06 02:48:17.266391
10770      10771.0     NaN     NaN           NaN 2024-12-06 02:48:17.266391
10771      10772.0     NaN     NaN           NaN 2024-12-06 02:48:17.266391
10772      10773.0     NaN     NaN           NaN 2024-12-06 02:48:17.266391
10773      10774.0     NaN     NaN           NaN 2024-12-06 02:48:17.266391
10774      10775.0     NaN     NaN           NaN 2024-12-06 02:48:17.266391
10775      10776.0     NaN     NaN           NaN 2024-12-06 02:48:17.266391
10776      10777.0     NaN     NaN           NaN 2024-12-06 02:48:17.266391
10777      10778.0     NaN     NaN           NaN 2024-12-06 02:48:17.266391
10778      10779.0     NaN     NaN           NaN 2024-12-06 02:48:17.266391
10779      10780.0     NaN     NaN           NaN 2024-12-06 02:48:17.266391
10780      10781.0     NaN     NaN           NaN 2024-12-06 02:48:17.266391
10781      10782.0     NaN     NaN           NaN 2024-12-06 02:48:17.266391
10782      10783.0     NaN     NaN           NaN 2024-12-06 02:48:17.266391
10783      10784.0     NaN     NaN           NaN 2024-12-06 02:48:17.266391
10784      10785.0     NaN     NaN           NaN 2024-12-06 02:48:17.266391
10785      10786.0     NaN     NaN           NaN 2024-12-06 02:48:17.266391
10786      10787.0     NaN     NaN           NaN 2024-12-06 02:48:17.266391
10787      10788.0     NaN     NaN           NaN 2024-12-06 02:48:17.266391
10788      10789.0     NaN     NaN           NaN 2024-12-06 02:48:17.266391

## Data Loader
This class provides the implementation of load_to_warehouse, simulating loading a DataFrame into a data warehouse. It connects to the MSQL database and load data

In [ ]:
import logging
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.engine import Engine


class MsqlDatabaseConnection:
    def __init__(self, username: str, password: str, host: str = "localhost", port: int = 3306, db_name: str = "myshop"):
        self.username = username
        self.password = password
        self.host = host
        self.port = port
        self.db_name = db_name

    def get_sqlalchemy_engine(self) -> Engine:
        """Return a SQLAlchemy engine connected to MySQL database with UTF-8 support."""
        try:
            connection_uri = f"mysql+pymysql://{self.username}:{self.password}@{self.host}:{self.port}/{self.db_name}?charset=utf8mb4"
            engine = create_engine(
                connection_uri,
                connect_args={'charset': 'utf8mb4'}
            )
            logger.info("Successfully connected to MySQL database.")
            return engine
        except Exception as e:
            logger.error(f"Error connecting to MySQL: {str(e)}")
            raise
    
    def get_query_result(self, query: str) -> pd.DataFrame:
        """Execute a query and return the result as a DataFrame."""
        try:
            engine = self.get_sqlalchemy_engine()
            result = pd.read_sql(query, engine)
            logger.info(f"Query executed successfully: {query}")
            return result
        except Exception as e:
            logger.error(f"Error executing query: {str(e)}")
            raise

# DataLoader class
class DataLoader:
    def __init__(self, db_connection: MsqlDatabaseConnection):
        self.db_conn = db_connection
    
    def load_to_warehouse(self, df: pd.DataFrame, table_name: str, if_exists: str = 'append') -> None:
        """Load DataFrame to data warehouse."""
        try:
            engine = self.db_conn.get_sqlalchemy_engine()
            df.to_sql(
                name=table_name,
                con=engine,
                if_exists=if_exists,
                index=False,
                chunksize=1000
            )
            logger.info(f"Successfully loaded {len(df)} rows to {table_name}")
        except Exception as e:
            logger.error(f"Error loading data to warehouse: {str(e)}")
            raise


db_connection = MsqlDatabaseConnection(
    username="root",  # Replace with your MySQL username
    password="Akinolami6650!",  # Replace with your MySQL password
    db_name="myshop"           # The name of your database
)

# Create an instance of DataLoader
data_loader = DataLoader(db_connection)

In [41]:
def load_to_mysql(tables: Dict[str, pd.DataFrame], data_loader: DataLoader):
    """Load all tables into MySQL warehouse"""
    try:
        # Define loading order (dimensions first, then facts)
        load_order = [
            'dim_date',
            'dim_customer',
            'dim_product',
            'dim_geography',
            'fact_sales',
            'fact_product_inventory'
        ]

        for table_name in load_order:
            if table_name in tables:
                logger.info(f"Loading {table_name}...")
                data_loader.load_to_warehouse(
                    df=tables[table_name],
                    table_name=table_name,
                    if_exists='replace'  # Using replace to refresh the tables
                )
                
    except Exception as e:
        logger.error(f"Error in load_to_mysql: {e}")
        raise

try:
    # 1. MongoDB extraction (sales data)
    df_mongo = extract_from_mongodb("sales_orders")
    print("MongoDB Data extracted successfully")
    
    # 2. FakeStore API extraction
    api_products = get_fakestore_products()
    api_products_df = pd.DataFrame(api_products)
    print("API Data extracted successfully")
    
    # 3. Transform data into dimensional model
    raw_data = {
        'sales_data': df_mongo,
        'api_products': api_products_df
    }
    transformed_tables = transform(raw_data)
    print("Data transformation completed")
    
    # 4. Load transformed data into MySQL database
    db_connection = MsqlDatabaseConnection(
        username="root",
        password="Akinolami6650!",
        db_name="myshop"
    )
    data_loader = DataLoader(db_connection)
    
    # Load the data
    load_to_mysql(transformed_tables, data_loader)
    print("Data loading completed")
    
    # 5. Verify the load with some basic queries
    verification_queries = {
        "Customer Count": "SELECT COUNT(*) as customer_count FROM dim_customer",
        "Product Count": "SELECT COUNT(*) as product_count FROM dim_product",
        "Total Sales": "SELECT COUNT(*) as sales_count, SUM(sales_amount) as total_sales FROM fact_sales"
    }
    
    print("\nVerification Results:")
    for name, query in verification_queries.items():
        result = db_connection.get_query_result(query)
        print(f"\n{name}:")
        print(result)

except Exception as e:
    logger.error(f"Error in ETL pipeline: {str(e)}")

INFO:__main__:MongoDB client initialized successfully.

mongo_db Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'data_ware_house')
MongoDB Data extracted successfully

INFO:__main__:Transforming data...

API Data extracted successfully

INFO:__main__:Loading dim_date...
INFO:__main__:Successfully connected to MySQL database.
INFO:__main__:Successfully loaded 1468 rows to dim_date
INFO:__main__:Loading dim_customer...
INFO:__main__:Successfully connected to MySQL database.

Data transformation completed

INFO:__main__:Successfully loaded 24960 rows to dim_customer
INFO:__main__:Loading dim_product...
INFO:__main__:Successfully connected to MySQL database.
INFO:__main__:Successfully loaded 10789 rows to dim_product
INFO:__main__:Loading dim_geography...
INFO:__main__:Successfully connected to MySQL database.
INFO:__main__:Successfully loaded 3848 rows to dim_geography
INFO:__main__:Loading fact_sales...
INFO:__main__:Successfully connected to MySQL database.
INFO:__main__:Successfully loaded 8896128 rows to fact_sales
INFO:__main__:Loading fact_product_inventory...
INFO:__main__:Successfully connected to MySQL database.
INFO:__main__:Successfully loaded 40 rows to fact_product_inventory
INFO:__main__:Successfully connected to MySQL database.
INFO:__main__:Query executed successfully: SELECT COUNT(*) as customer_count FROM dim_customer
INFO:__main__:Successfully connected to MySQL database.
INFO:__main__:Query executed successfully: SELECT COUNT(*) as product_count FROM dim_product
INFO:__main__:Successfully connected to MySQL database.

Data loading completed

Verification Results:

Customer Count:
   customer_count
0           24960

Product Count:
   product_count
0          10789

INFO:__main__:Query executed successfully: SELECT COUNT(*) as sales_count, SUM(sales_amount) as total_sales FROM fact_sales

Total Sales:
   sales_count   total_sales
0      8896128  2.262738e+09

## Sales Analysis by Customer Segment and Quarter

In [42]:
#1. Sales Performance Analysis by Time Period
sales_by_segment_query = """
SELECT 
    d.year,
    d.quarter,
    COUNT(DISTINCT fs.order_id) as total_orders,
    COUNT(DISTINCT fs.customer_key) as unique_customers,
    SUM(fs.sales_amount) as total_sales,
    AVG(fs.sales_amount) as avg_sale_per_order,
    STDDEV(fs.sales_amount) as sales_std_dev,
    MIN(fs.sales_amount) as min_sale,
    MAX(fs.sales_amount) as max_sale,
    SUM(fs.profit) as total_profit,
    AVG(fs.profit) as avg_profit_per_order,
    STDDEV(fs.profit) as profit_std_dev,
    AVG(fs.discount) * 100 as avg_discount_percentage,
    SUM(fs.shipping_cost) as total_shipping_cost
FROM fact_sales fs
JOIN dim_date d ON fs.order_date_id = d.date_id
GROUP BY d.year, d.quarter
ORDER BY d.year, d.quarter;
"""

try:
    df_segment_analysis = db_connection.get_query_result(sales_by_segment_query)
    print("Sales Analysis by Customer Segment and Quarter:")
    print(df_segment_analysis)
except Exception as e:
    logger.error(f"Error in segment analysis query: {str(e)}")

INFO:__main__:Successfully connected to MySQL database.
INFO:__main__:Query executed successfully:
SELECT
    d.year,
    d.quarter,
    COUNT(DISTINCT fs.order_id) as total_orders,
    COUNT(DISTINCT fs.customer_key) as unique_customers,
    SUM(fs.sales_amount) as total_sales,
    AVG(fs.sales_amount) as avg_sale_per_order,
    STDDEV(fs.sales_amount) as sales_std_dev,
    MIN(fs.sales_amount) as min_sale,
    MAX(fs.sales_amount) as max_sale,
    SUM(fs.profit) as total_profit,
    AVG(fs.profit) as avg_profit_per_order,
    STDDEV(fs.profit) as profit_std_dev,
    AVG(fs.discount) * 100 as avg_discount_percentage,
    SUM(fs.shipping_cost) as total_shipping_cost
FROM fact_sales fs
JOIN dim_date d ON fs.order_date_id = d.date_id
GROUP BY d.year, d.quarter
ORDER BY d.year, d.quarter;

Sales Analysis by Customer Segment and Quarter:
    year  quarter  total_orders  unique_customers   total_sales  \
0   2011        1           673             10745  5.264300e+07
1   2011        2          1027             14062  8.451945e+07
2   2011        3          1217             15664  1.164795e+08
3   2011        4          1581             18100  1.580572e+08
4   2012        1           826             12663  7.226945e+07
5   2012        2          1297             16453  1.067034e+08
6   2012        3          1480             17552  1.338895e+08
7   2012        4          1837             18945  1.722617e+08
8   2013        1          1059             14485  9.578419e+07
9   2013        2          1635             18361  1.524045e+08
10  2013        3          1962             19848  1.647233e+08
11  2013        4          2184             19978  1.994881e+08
12  2014        1          1355             16845  1.195761e+08
13  2014        2          2077             19959  1.565714e+08
14  2014        3          2379             21009  2.134718e+08
15  2014        4          2959             22042  2.638953e+08

    avg_sale_per_order  sales_std_dev  min_sale   max_sale  total_profit  \
0           248.241104     710.093995     0.852  22638.480  4.835288e+06
1           240.172103     423.415558     1.365   4624.290  9.537556e+06
2           258.446973     575.389913     0.876   9449.950  1.249184e+07
3           265.507581     509.330936     0.898   6999.960  1.995777e+07
4           270.041008     515.164875     1.112   6354.950  8.563622e+06
5           240.817525     449.066412     0.984   5724.540  1.508037e+07
6           254.338645     474.256911     1.080   5759.964  1.505866e+07
7           256.307485     473.036025     1.566   5785.020  2.173744e+07
8           279.462776     589.357169     1.272   8749.950  1.135843e+07
9           255.340317     562.410394     0.836   9099.930  1.601195e+07
10          239.556350     439.769609     1.668   5211.120  1.863582e+07
11          259.316573     581.226260     1.161  17499.950  2.962775e+07
12          263.431071     622.656723     0.556  13999.960  1.685362e+07
13          230.833143     440.420171     0.444   5486.670  1.904886e+07
14          264.232418     501.390480     1.080   7958.580  2.579442e+07
15          253.668451     540.779476     0.990  11199.968  3.004010e+07

    avg_profit_per_order  profit_std_dev  avg_discount_percentage  \
0              22.801078      178.062207                14.468832
1              27.102104      130.626513                14.799209
2              27.717138      180.716945                13.885741
3              33.525452      177.688148                14.558791
4              31.998709      175.382777                13.535347
5              34.034705      151.781233                13.972598
6              28.605685      149.908037                14.511164
7              32.343049      166.793281                13.440682
8              33.139680      181.312883                13.332732
9              26.826619      174.850497                14.231342
10             27.102002      143.548235                14.098059
11             38.513410      241.827785                13.547438
12             37.129221      254.778297                13.471648
13             28.083728      152.361507                14.715148
14             31.927975      157.924143                13.933062
15             28.875938      205.502284                14.481564

    total_shipping_cost
0          5.226735e+06
1          9.250970e+06
2          1.198071e+07
3          1.792932e+07
4          7.326519e+06
5          1.176609e+07
6          1.441672e+07
7          1.806648e+07
8          9.929282e+06
9          1.616481e+07
10         1.696947e+07
11         2.098387e+07
12         1.184128e+07
13         1.742226e+07
14         2.316680e+07
15         2.816892e+07

##  Customer Segment Performance Analysis

In [56]:

product_performance_query = """
SELECT 
    dp.category,
    dp.subcategory,
    COUNT(DISTINCT fs.order_id) as total_orders,
    SUM(fs.quantity) as total_units_sold,
    AVG(fs.quantity) as avg_units_per_order,
    STDDEV(fs.quantity) as quantity_std_dev,
    SUM(fs.sales_amount) as total_revenue,
    AVG(fs.sales_amount) as avg_revenue_per_order,
    STDDEV(fs.sales_amount) as revenue_std_dev,
    AVG(fpi.rating) as avg_product_rating,
    STDDEV(fpi.rating) as rating_std_dev,
    AVG(fpi.price) as avg_list_price,
    STDDEV(fpi.price) as price_std_dev
FROM dim_product dp
LEFT JOIN fact_sales fs ON dp.product_id = fs.product_id  -- Changed from product_key to product_id
LEFT JOIN fact_product_inventory fpi ON dp.product_key = fpi.product_key
GROUP BY dp.category, dp.subcategory
ORDER BY total_revenue DESC;
"""

try:
    df_segment_analysis = db_connection.get_query_result(product_performance_query)
    print("Product Performance and Inventory Analysis:")
    print(df_segment_analysis)
except Exception as e:
    logger.error(f"Error in product performance analysis query: {str(e)}")

INFO:__main__:Successfully connected to MySQL database.
ERROR:__main__:Error executing query: (pymysql.err.InternalError) (3, "Error writing file '/var/tmp/MYbUq5Pn' (OS errno 28 - No space left on device)")
[SQL:
SELECT
    dp.category,
    dp.subcategory,
    COUNT(DISTINCT fs.order_id) as total_orders,
    SUM(fs.quantity) as total_units_sold,
    AVG(fs.quantity) as avg_units_per_order,
    STDDEV(fs.quantity) as quantity_std_dev,
    SUM(fs.sales_amount) as total_revenue,
    AVG(fs.sales_amount) as avg_revenue_per_order,
    STDDEV(fs.sales_amount) as revenue_std_dev,
    AVG(fpi.rating) as avg_product_rating,
    STDDEV(fpi.rating) as rating_std_dev,
    AVG(fpi.price) as avg_list_price,
    STDDEV(fpi.price) as price_std_dev
FROM dim_product dp
LEFT JOIN fact_sales fs ON dp.product_id = fs.product_id  -- Changed from product_key to product_id
LEFT JOIN fact_product_inventory fpi ON dp.product_key = fpi.product_key
GROUP BY dp.category, dp.subcategory
ORDER BY total_revenue DESC;
]
(Background on this error at: https://sqlalche.me/e/20/2j85)
ERROR:__main__:Error in product performance analysis query: (pymysql.err.InternalError) (3, "Error writing file '/var/tmp/MYbUq5Pn' (OS errno 28 - No space left on device)")
[SQL:
SELECT
    dp.category,
    dp.subcategory,
    COUNT(DISTINCT fs.order_id) as total_orders,
    SUM(fs.quantity) as total_units_sold,
    AVG(fs.quantity) as avg_units_per_order,
    STDDEV(fs.quantity) as quantity_std_dev,
    SUM(fs.sales_amount) as total_revenue,
    AVG(fs.sales_amount) as avg_revenue_per_order,
    STDDEV(fs.sales_amount) as revenue_std_dev,
    AVG(fpi.rating) as avg_product_rating,
    STDDEV(fpi.rating) as rating_std_dev,
    AVG(fpi.price) as avg_list_price,
    STDDEV(fpi.price) as price_std_dev
FROM dim_product dp
LEFT JOIN fact_sales fs ON dp.product_id = fs.product_id  -- Changed from product_key to product_id
LEFT JOIN fact_product_inventory fpi ON dp.product_key = fpi.product_key
GROUP BY dp.category, dp.subcategory
ORDER BY total_revenue DESC;
]
(Background on this error at: https://sqlalche.me/e/20/2j85)

## Geographic Sales Distribution

In [57]:

geographic_sales_query = """
SELECT 
    c.country_region as Country,
    c.city as City,
    COUNT(DISTINCT o.customer_id) as Unique_Customers,
    SUM(od.quantity * od.unit_price * (1 - od.discount)) as Total_Sales,
    AVG(od.quantity * od.unit_price * (1 - od.discount)) as Avg_Order_Value,
    SUM(od.quantity) as Total_Units_Sold
FROM orders o
JOIN customers c ON o.customer_id = c.id
JOIN order_details od ON o.id = od.order_id
GROUP BY c.country_region, c.city
HAVING Total_Sales > 1000
ORDER BY Total_Sales DESC;
"""

try:
    df_geographic_sales = db_connection.get_query_result(geographic_sales_query)
    print("\nGeographic Sales Distribution:")
    print(df_geographic_sales)
except Exception as e:
    logger.error(f"Error in geographic sales query: {str(e)}")

#

INFO:__main__:Successfully connected to MySQL database.
INFO:__main__:Query executed successfully:
SELECT
    c.country_region as Country,
    c.city as City,
    COUNT(DISTINCT o.customer_id) as Unique_Customers,
    SUM(od.quantity * od.unit_price * (1 - od.discount)) as Total_Sales,
    AVG(od.quantity * od.unit_price * (1 - od.discount)) as Avg_Order_Value,
    SUM(od.quantity) as Total_Units_Sold
FROM orders o
JOIN customers c ON o.customer_id = c.id
JOIN order_details od ON o.id = od.order_id
GROUP BY c.country_region, c.city
HAVING Total_Sales > 1000
ORDER BY Total_Sales DESC;

Geographic Sales Distribution:
   Country            City  Unique_Customers  Total_Sales  Avg_Order_Value  \
0      USA         Memphis                 1     15432.50      3858.125000
1      USA           Boise                 1     13800.00     13800.000000
2      USA       Milwaukee                 1      8007.50      1334.583333
3      USA        New York                 1      4949.00       707.000000
4      USA        Portland                 1      4683.00       780.500000
5      USA           Miami                 2      4644.75       663.535714
6      USA  Salt Lake City                 1      3786.50      1262.166667
7      USA          Denver                 1      2905.50       968.500000
8      USA       Las Vegas                 2      2695.00       673.750000
9      USA     Los Angelas                 1      2550.00       510.000000
10     USA         Seattle                 1      2410.75       602.687500
11     USA         Chicago                 2      2272.50       284.062500

    Total_Units_Sold
0              405.0
1              300.0
2              427.0
3              140.0
4              260.0
5              265.0
6              160.0
7              137.0
8              165.0
9              253.0
10             115.0
11             315.0

## Shipping Performance

In [59]:
shipping_performance_query = """
SELECT 
    s.company as Ship_Mode,
    COUNT(DISTINCT o.id) as Total_Shipments,
    AVG(DATEDIFF(o.shipped_date, o.order_date)) as Avg_Days_to_Ship,
    SUM(o.shipping_fee) as Total_Shipping_Cost,
    SUM(od.quantity * od.unit_price * (1 - od.discount)) as Total_Order_Value,
    (SUM(o.shipping_fee) / SUM(od.quantity * od.unit_price * (1 - od.discount))) * 100 as Shipping_Cost_Percentage
FROM orders o
JOIN shippers s ON o.shipper_id = s.id
JOIN order_details od ON o.id = od.order_id
WHERE o.shipped_date IS NOT NULL
GROUP BY s.company
ORDER BY Total_Shipments DESC;
"""

try:
    df_shipping_performance = db_connection.get_query_result(shipping_performance_query)
    print("\nShipping Performance Analysis:")
    print(df_shipping_performance)
except Exception as e:
    logger.error(f"Error in shipping performance query: {str(e)}")

INFO:__main__:Successfully connected to MySQL database.
INFO:__main__:Query executed successfully:
SELECT
    s.company as Ship_Mode,
    COUNT(DISTINCT o.id) as Total_Shipments,
    AVG(DATEDIFF(o.shipped_date, o.order_date)) as Avg_Days_to_Ship,
    SUM(o.shipping_fee) as Total_Shipping_Cost,
    SUM(od.quantity * od.unit_price * (1 - od.discount)) as Total_Order_Value,
    (SUM(o.shipping_fee) / SUM(od.quantity * od.unit_price * (1 - od.discount))) * 100 as Shipping_Cost_Percentage
FROM orders o
JOIN shippers s ON o.shipper_id = s.id
JOIN order_details od ON o.id = od.order_id
WHERE o.shipped_date IS NOT NULL
GROUP BY s.company
ORDER BY Total_Shipments DESC;

Shipping Performance Analysis:
            Ship_Mode  Total_Shipments  Avg_Days_to_Ship  Total_Shipping_Cost  \
0  Shipping Company B               14            1.1667               1618.0
1  Shipping Company C               11            0.3333                479.0
2  Shipping Company A                7            3.6923                335.0

   Total_Order_Value  Shipping_Cost_Percentage
0           16078.50                 10.063128
1           24802.25                  1.931276
2            9593.50                  3.491948